<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Admin Paneli</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/arac']">Araçlar</a>
        <a mat-list-item [routerLink]="['/musteri']">Müşteriler</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z5">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>İncik Araç Kiralama</span>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>


<div class="container">
    <h2>Hoşgeldin, <b>Admin</b></h2>
    <!-- <button mat-menu-item [routerLink]="['/']" *ngIf="!apiService.authControl()">Çıkış yap</button> 
      <button mat-menu-item [routerLink]="['/'] *ngIf="apiService.authControl()">{{customerUsername}}</button> 
      <button mat-menu-item [routerLink]="['/'] *ngIf="apiService.authControl()" (click)="Logout()">Çıkış Yap</button>  -->
      
</div>

